$highlighter: rgb(238,235,248);
$background: rgb(245,245,249);
$whitesmoke: whitesmoke;
$greenpercentcolor: #69b645;
$redpercentcolor: #e12b2b;
$purpletext: #7a48e8;
%imgsize {
    width: 100px;
    height: 100px;
}
%dashboardCsize{
    width: 100%;
}
%quickstatscard{
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: .9rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
%btn{
    background-color: white;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    opacity: 60%;
}
%detailedstatscard {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: .9rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .numbersContainer{
        padding: .5em;
    }
}
%progressBar{
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1vh;
}
