.quickStatsContainer img {
  width: 100px;
  height: 100px;
}

.dashboardContainer {
  width: 100%;
}

.quickStatsContainer .leadsContainer, .quickStatsContainer .trialSContainer, .quickStatsContainer .trialAContainer {
  width: 30%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 0.9rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  background-color: white;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  opacity: 60%;
}

.detailedstatscard {
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.detailedstatscard .numbersContainer {
  padding: 0.5em;
  position: relative;
  left: 1em;
}

.progressBar {
  width: 90%;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  margin-top: 1vh;
  margin: 0.5em;
  opacity: 60%;
}

.dataContainer3, .dataContainer4, .dataContainer5 {
  padding: 0.4em;
  background: lightgrey;
  border-radius: 5px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 249);
  display: flex;
  flex-direction: row;
}

.sidebarContainer {
  margin-left: 3vh;
  width: 20%;
  height: 100vh;
  border-right: solid rgb(221, 220, 220) 1px;
}
.sidebarContainer h1 {
  margin-top: 2vh;
}

ul li {
  margin: 0.5vh;
  padding: 1vh;
  cursor: pointer;
  font-size: 0.9rem;
  opacity: 80%;
  border-radius: 15px;
  list-style: none;
  width: 80%;
}

.categoryContainers {
  margin-top: 4vh;
}
.categoryContainers p {
  font-size: 0.7rem;
  opacity: 60%;
}

li:hover {
  background-color: rgb(238, 235, 248);
  font-weight: bold;
  opacity: 90%;
}

.dashboardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.quickStatsContainer {
  background-color: whitesmoke;
  display: flex;
  width: 90%;
}
.dashboard-top {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 80%;
  align-items: center;
}
.dashboard-top h2 {
  font-size: 0.9rem;
}

.quickstatscontainer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detailedStatsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2.5vh;
  width: 85%;
  height: 80%;
  margin: 2vh 0 0 -5vh;
}

.seeMoreContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1em;
  position: relative;
  left: 10px;
}

.seeMore {
  color: #7a48e8;
  font-size: 1.1rem;
  cursor: pointer;
}

.greenArrow {
  color: #69b645;
}

.redArrow {
  color: #e12b2b;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.7em;
}

.dataContainer1 {
  padding: 0.4em;
  width: 30%;
  background-color: rgb(146, 139, 146);
  border-radius: 5px;
}

.dataContainer2 {
  padding: 0.4em;
  width: 50%;
  background: lightgrey;
  border-radius: 5px;
}

.dataContainer3 {
  width: 75%;
}

.dataContainer4 {
  width: 25%;
}

.dataContainer5 {
  width: 45%;
}/*# sourceMappingURL=style.css.map */